{% extends "base.html" %}
{% load i18n %}
{% block title %}Sign In{% endblock %}

{% block content %}

<div class="row col-sm-offset-3">
    <div class="col-sm-12">
        <h1 class="pageHeading">Login to your account</h1>
    </div>
    <div class="clearfix"></div>
	    {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Your username and password didn't match. Please try again.
            </div>
	    {% endif %}

	    <form method="POST" action="?next={{ next|default:'/' }}" class="form-horizontal">
		    {% csrf_token %}
		    <div class="form-group">
			    <label class="col-sm-2 control-label">Username</label>
			    <div class="controls mt7">
				    {{ form.username }}
			    </div>
		    </div>
		    <div class="form-group">
			    <label class="col-sm-2 control-label">Password</label>
			    <div class="controls mt7">
				    {{ form.password }}
			    </div>
		    </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="mt10"> Remember me <input type="submit" class="btn ml12" value="Sign In" />
                        </label>
                    </div>
                    <p class="small-text mt10">If you don't have an account, contact the administrator.</p>
                </div>
            </div>
	    </form>	


</div>

{% endblock %}
