{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Confirm the new Scenario
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="pageHeading">Confirm the new scenario</h1>
        </div>
        <div class="clearfix"></div>

        <div class="alert alert-danger" role="alert" style="display: none; margin-left: 15px;">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <span class="error-text"></span>
        </div>

        <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Scenario Title *</label>
                    <div class="controls mt7">
                        {{ scenario.title }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label pt40">Background Image</label>
                    <div class="controls mt7">
                        <img class="confirmImage mt10" id="previewBg" src="{{ scenario.background.url }}" alt="" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Character Name</label>
                    <div class="controls mt7">
                        {% if scenario.type == 'B' %}
                            {% if character_normal.name %}
                                {{ character_normal.name }}
                            {% else %}
                                None
                            {% endif %}
                        {% else %}
                            {{ name }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Character Role</label>
                    <div class="controls mt7">
                        {% if scenario.role %}
                            {{ scenario.role }}
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Gender</label>
                    <div class="controls mt7">
                        {% if scenario.type == 'B' %}
                            {% if character_normal.gender %}
                                {{ character_normal.get_gender_display }}
                            {% else %}
                                None
                            {% endif %}
                        {% else %}
                            {{ gender }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Marital Status</label>
                    <div class="controls mt7">
                        {% if scenario.type == 'B' %}
                            {% if character_normal.marital_status %}
                                {{ character_normal.get_marital_status_display }}
                            {% else %}
                                None
                            {% endif %}
                        {% else %}
                            {{ marital_status }}
                        {% endif %}
                    </div>
                </div>

                {% if scenario.type == 'B' %}

                    <div class="form-group">
                        <label class="col-sm-4 control-label pt40">Mood Normal Image *</label>
                        <div class="controls mt7">
                            <img class="confirmImage mt10" id="previewN" src="{{ character_normal.image.url }}" alt="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label pt40">Mood Upset Image</label>
                        <div class="controls mt7">
                            <img class="confirmImage mt10" id="previewM" src="{{ character_mad.image.url }}" alt="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label pt40">Mood Angry Image</label>
                        <div class="controls mt7">
                            <img class="confirmImage mt10" id="previewA" src="{{ character_angry.image.url }}" alt="" />
                        </div>
                    </div>
                {% else %}

                    <div class="form-group">
                        <label class="col-sm-4 control-label pt40">Mood Normal</label>
                        <div id="unityPlayer" class="drsElement drsMoveHandle">
                            <div class="missing">
                                <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
                                    <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-offset-5 mt10">
                            <a href="javascript:void(0)" id="left"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
                            <a href="javascript:void(0)" id="right"><span class="glyphicon glyphicon-arrow-right ml10" aria-hidden="true"></span></a>
                            <input type="hidden" id="mood_type" value="N">
                        </div>
                    </div>

                {% endif %}
            </div>

        <div class="col-xs-6 divider-right">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="gameplayer">Game Player *</label>
                    <div class="controls mt7">
                        GAME PLAYER
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="virtualcharacter">Virtual Character *</label>
                    <div class="controls mt7">
                        VIRTUAL CHARACTER
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label">Context</label>
                    </div>
                    <div class="col-xs-8 controls mt7 pl0">
                        {% if script.context %}
                            <p class="small">{{ script.context }}</p>
                        {% else %}
                            Context not given
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="control-label">Scene</label>
                    </div>
                    <div class="col-xs-8 controls mt7 pl0">
                        {% if script.scene %}
                            <p class="small">{{ script.scene }}</p>
                        {% else %}
                            Scene not given
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="col-sm-12">
            <h1 class="subHeading">Proposed Dialogue Script</h1>
        </div>
        <div class="clearfix"></div>

        <div class="alert alert-danger" role="alert" style="display: none; margin-left: 15px;">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <span class="error-text"></span>
        </div>

        <form method="POST" action="#" name="ScenarioForm" class="form-horizontal" style="margin-left:20px;">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Character type</th>
                        <th>Normal</th>
                        <th>Upset (Proposed Dialogue)</th>
                        <th>Angry (Proposed Dialogue)</th>
                    </tr>
                </thead>
                {% for dialogue in dialogues %}
                    {% if dialogue.N.character == 'VC' %}
                        <tr>
                            <td>{{ dialogue.N.get_character_display }}</td>
                            <td>{{ dialogue.N.utterance }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ dialogue.N.get_character_display }}</td>
                            <td class="success col-md-4">{{ dialogue.N.utterance }}</td>
                            {% if dialogue.M %}
                                <td class="warning"><textarea class="confirmDialogue textAreaWarning" id="M_{{ dialogue.N.parent.id }}" name="M_{{ dialogue.N.parent.id }}">{{ dialogue.M.utterance }}</textarea></td>
                            {% else %}
                                <td class="warning"><textarea class="confirmDialogue textAreaWarning" id="M_{{ dialogue.N.parent.id }}" name="M_{{ dialogue.N.parent.id }}"></textarea></td>
                            {% endif %}
                            {% if dialogue.A %}
                                <td class="danger"><textarea class="confirmDialogue textAreaDanger" id="A_{{ dialogue.N.parent.id }}" name="A_{{ dialogue.N.parent.id }}">{{ dialogue.A.utterance }}</textarea></td>
                            {% else %}
                                <td class="danger"><textarea class="confirmDialogue textAreaDanger" id="A_{{ dialogue.N.parent.id }}" name="A_{{ dialogue.N.parent.id }}"></textarea></td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>

            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-10">
                    <button type="submit" class="btn" id="continueBtn" />Confirm</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_body %}
{% if scenario.type == 'C' %}
    <script type='text/javascript' src='https://ssl-webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js'></script>
    <script type='text/javascript' src='http://ctinteractive.reallusion.com/ctinteractive/1.0/CTWebPlayer.min.js'></script>

    <script type='text/javascript'>
    var player = new CTWebPlayer();
        $(function () {
            player.playerUrl = "http://ctinteractive.reallusion.com/ctinteractive/1.0/CTWebPlayer.unity3d?";
            SetPlayerResolution( 150, 150 );
            player.init($("#unityPlayer"), function () {
                player.loadProject("{{ MEDIA_URL }}CrazyTalkFiles{{ project_path_normal }}", {
                    playAfter: 0,
                    idleMotionUrl: "{{ MEDIA_URL }}CrazyTalkFiles{{ idle_path_normal }}"
                });
                player.showPlaybar( false );
                player.setVolume( 0 );
            });
        });

        function Normal() {
            player.loadProject("{{ MEDIA_URL }}CrazyTalkFiles{{ project_path_normal }}", {
                playAfter: 0,
                showActor: true,
                showBackground: false,
                idleMotionUrl: "{{ MEDIA_URL }}CrazyTalkFiles{{ idle_path_normal }}"
            });
        }

        function Mad() {
            player.loadProject("{{ MEDIA_URL }}CrazyTalkFiles{{ project_path_mad }}", {
                playAfter: 0,
                showActor: true,
                showBackground: false,
                idleMotionUrl: "{{ MEDIA_URL }}CrazyTalkFiles{{ idle_path_mad }}"
            });
        }

        function Angry() {
            player.loadProject("{{ MEDIA_URL }}CrazyTalkFiles{{ project_path_angry }}", {
                playAfter: 0,
                showActor: true,
                showBackground: false,
                idleMotionUrl: "{{ MEDIA_URL }}CrazyTalkFiles{{ idle_path_angry }}"
            });
        }

        function SetPlayerResolution( width, height ) {
                $("#unityPlayer").css( {'width':width.toString()+'px', 'height':height.toString()+'px'} );
        }
    </script>

    <script type='text/javascript'>
        $( "#left" ).click(function() {
            var mood = $( "#mood_type" ).val();
            if (mood == 'N'){}
            else if (mood = 'M'){
                Normal();
                $( "#mood_type" ).val('N');
            }
            else if (mood = 'A'){
                Mad();
                $( "#mood_type" ).val('M');
            }
        });

        $( "#right" ).click(function() {
            var mood = $( "#mood_type" ).val();
            if (mood == 'N'){
                Mad();
                $( "#mood_type" ).val('M');
            }
            else if (mood = 'M'){
                Angry();
                $( "#mood_type" ).val('A');
            }
            else if (mood = 'A'){}
        });
    </script>
{% endif %}
{% endblock %}
