{% extends "base.html" %}
{% load staticfiles %}
{% block title %}

{% endblock %}

{% block content %}
<!-- Portfolio Item Heading -->
        <div class="row">
	        <form method="POST" action="#" name="ScenarioForm">
		        {% csrf_token %}
                    <label for="title">Scenario Title: </label>
				    <input type="text" id="title" name="title" placeholder="Scenario Title">

                    <label for="bgimage">Background Image: </label>
				    <input type="file" class="uploadimage" id="bgimage" name="bgimage" placeholder="Background Image">
                    <img id="previewBg" src="#" alt="" style="max-width: 100px; max-height: 80px;" />

                    <label for="name">Character's Name: </label>
				    <input type="text" id="name" name="name" placeholder="Character's Name">

                    <label for="gender">Gender: </label>
                    <select id="gender" name="gender">
                        <option value="" disabled="disabled" selected="selected">Select character's gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>

                    <label for="status">Marital Status: </label>
                    <select id="status" name="status">
                        <option value="" disabled="disabled" selected="selected">Select character's marital status</option>
                        <option value="N">I don\'t want to say</option>
                        <option value="S">Single</option>
                        <option value="R">In a relationship</option>
                        <option value="E">Engaged</option>
                        <option value="M">Married</option>
                        <option value="W">Widowed</option>
                        <option value="SP">Separated</option>
                        <option value="D">Divorced</option>
                    </select>

                    <label for="normalimage">Mood Normal Image: </label>
                    <input type="file" class="uploadimage" id="normalimage" name="normalimage" placeholder="Mood Normal Image">
                    <img id="previewN" src="#" alt="" style="max-width: 100px; max-height: 80px;" />

                    <label for="madimage">Mood Mad Image: </label>
                    <input type="file" class="uploadimage" id="madimage" name="madimage" placeholder="Mood Mad Image">
                    <img id="previewM" src="#" alt="" style="max-width: 100px; max-height: 80px;" />

                    <label for="angryimage">Mood Angry Image: </label>
                    <input type="file" class="uploadimage" id="angryimage" name="angryimage" placeholder="Mood Angry Image">
                    <img id="previewA" src="#" alt="" style="max-width: 100px; max-height: 80px;" />

                    <label for="role">Character's Role: </label>
				    <input type="text" id="role" name="role" placeholder="Character's Role">

                    <label for="context">Context: </label>
                    <textarea id="context" name="context" rows="10" cols="70" placeholder="Describe the context"></textarea>

                    <label for="scene">Scene: </label>
                    <textarea id="scene" name="scene" rows="10" cols="70" placeholder="Describe the scene"></textarea>

                    <label for="gameplayer">Game Player: </label>
				    <input type="text" id="gameplayer" name="gameplayer" placeholder="Game player in script">

                    <label for="virtualcharacter">Virtual Character: </label>
				    <input type="text" id="virtualcharacter" name="virtualcharacter" placeholder="Virtual Character in script">

                    <label for="script">Dialogue Script: </label>
                    <input type="file" id="script" name="script" placeholder="Dialogue Script">

                    <button type="submit" class="btn" id="continueBtn" />Submit</button>

            </form>
        </div>

        <hr>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            input.nextElementSibling.setAttribute('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$(".uploadimage").change(function(){
    readURL(this);
});
</script>
{% endblock %}