{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}
Debriefing
{% endblock %}

{% block content %}
    {% if scenario_type == 'B' %}
        <div class="alert alert-success" role="alert">Well done! You have successfully completed the scenario. To restart the game please click on the restart button below or proceed to the <a href="http://fluidsurveys.com/surveys/freegadgets/usability-testing-geq/?TEST_DATA=&_cb=2pP9ZN4SqA" style="color:#fff;">SURVEY</a>.</div>
    {% else %}
            <div class="alert alert-success" role="alert">Well done! You have successfully completed the scenario. To restart the game please click on the button below or proceed to the <a href="http://fluidsurveys.com/surveys/freegadgets/usability-testing-geq-complex-zk/?TEST_DATA=&_cb=cdUT9WltNP" style="color:#fff;">SURVEY</a>.</div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="pageHeading">{{ scenario.title }} Debrief
                <a href="{% url 'game' script_id %}" style="color:#2c3e50;"><span class="pull-right glyphicon glyphicon-repeat" style="padding-top:5px;font-size:30px;" aria-hidden="true" title="Play Again"></span></a>
            </h1>
        </div>
        <div class="clearfix"></div>

        <div class="col-xs-12">

            <div class="form-group">
                <label class="col-sm-2 control-label">Scenario</label>
                <div class="controls">
                    {{ scenario }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Script</label>
                <div class="controls">
                    {{ script }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Game Type</label>
                <div class="controls">
                    {% if scenario_type == 'B' %}
                        Scenario X
                    {% else %}
                        Scenario Y
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Game Time</label>
                <div class="controls">
                    {% with convo_list|last as last %}
                        {{ last.Time }}
                    {% endwith %} Seconds
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">User</label>
                <div class="controls">
                    {{ user }}
                </div>
            </div>

            <hr>

            {% for convo in convo_list %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">Virtual Character</label>
                    <div class="controls">
                        {{ convo.VC }}
                    </div>
                </div>

                {% for gp in convo.GP %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Game Player</label>
                        <div class="controls">
                            {{ gp }}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">Response</label>
                    <div class="controls">
                        {{ convo.Selection }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Character Mood</label>
                    {% if convo.CharacterMood == 'Normal' %}
                        <div class="controls">
                            <span class="label label-success">{{ convo.CharacterMood }}</span>
                        </div>
                    {% endif %}
                    {% if convo.CharacterMood == "Mad" %}
                        <div class="controls">
                            <span class="label label-warning">{{ convo.CharacterMood }}</span>
                        </div>
                    {% endif %}
                    {% if convo.CharacterMood == 'Angry' %}
                        <div class="controls">
                            <span class="label label-danger">{{ convo.CharacterMood }}</span>
                        </div>
                    {% endif %}
                </div>

                <hr>
            {% endfor %}
                <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <a href="{% url 'game' script_id %}"><button type="submit" class="btn" />Play Again</button></a>
                    {% if scenario_type == 'B' %}
                        <a href="http://fluidsurveys.com/surveys/freegadgets/usability-testing-geq/?TEST_DATA=&_cb=2pP9ZN4SqA"><button type="submit" class="btn" />Fill Survey</button></a>
                    {% else %}
                        <a href="http://fluidsurveys.com/surveys/freegadgets/usability-testing-geq-complex-zk/?TEST_DATA=&_cb=cdUT9WltNP"><button type="submit" class="btn" />Fill Survey</button></a>
                    {% endif %}
                </div>
                </div>
        </div>
    </div>
{% endblock %}