{% extends "base.html" %}
{% load staticfiles %}
{% block title %}

{% endblock %}

{% block content %}
<!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Item Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
		<p class="header"><span>Preview</span></p>
		<div class="content">
			<div id="unityPlayer" class="drsElement drsMoveHandle">
				<div class="missing">
					<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
						<img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
					</a>
				</div>
			</div>
		</div>
        <input id="change" type="button" value="Project1">
        </div>
        <!-- /.row -->

        <hr>
{% endblock %}

{% block extra_body %}
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
		<script type='text/javascript' src='https://ssl-webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js'></script>
		<script type='text/javascript' src='http://ctinteractive.reallusion.com/ctinteractive/1.0/CTWebPlayer.min.js'></script>
		<script type='text/javascript'>
		<!--
			var player = new CTWebPlayer();
			$(document).ready( function() {
				SetPlayerResolution( 640, 480 );
				player.init( $("#unityPlayer")[0], {
					playerUrl: "http://ctinteractive.reallusion.com/ctinteractive/1.0/CTWebPlayer.unity3d?",
					loaded: StartWebPlayer
				} );
			});
			function StartWebPlayer() {
				player.showPlaybar( false );
				player.setLoop( false );
				player.setVolume( 100 );
				player.setLookat( "screen" );
				player.setLookatStrength( "medium" );

				var fadeInSec = 0;
				var backgroundImage = "";
				if ( backgroundImage.length ) {
					var autoPlay = 2;
					player.loadProject( "{% static 'crazytalk/Avatar/default.uctproject' %}", {
						playAfter: -1,
						showActor: false,
						showBackground: false,
						idleMotionUrl: "{% static 'crazytalk/Avatar/_Male.uctidle' %}",
						loaded: function( status ) {
							player.setBackgroundColor( { r:255,g:255,b:255 } );
							player.loadBackground( backgroundImage, {
								fit:"fill",
								alpha: 0,
								loaded: function( status ) {
									player.showActor( true, fadeInSec );
									player.showBackground( true );
									if ( autoPlay >= 0 ) player.play( autoPlay );
								}
							});
						}
					});
				} else {
					player.loadProject( "{% static 'crazytalk/Avatar/default.uctproject' %}", {
						playAfter: 1,
						showActor: ( fadeInSec <= 0.0 ),
						idleMotionUrl: "{% static 'crazytalk/Avatar/_Male.uctidle' %}",
						loaded: function( status ) {
							player.setBackgroundColor( { r:255,g:255,b:255 } );
							if ( fadeInSec > 0.0 ) player.showActor( true, fadeInSec );
						}
					});
				}
			}
			function SetPlayerResolution( width, height ) {
				$("#unityPlayer").css( {'width':width.toString()+'px', 'height':height.toString()+'px'} );
			}

		-->
		</script>

<script type='text/javascript'>
$( "#change" ).on( "click", function() {
  player.loadProject("{% static 'crazytalk/Avatar2/Load_project1.uctproject' %}", {
                playAfter: 0,
                showActor: true,
                showBackground: true,
                idleMotionUrl: "{% static 'crazytalk/Avatar2/Female.uctidle' %}"
                });
});
</script>
{% endblock %}