{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
List of scenarios
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="pageHeading">List of scenarios</h1>
        </div>
        <div class="clearfix"></div>

        <div class="list-group ml10">
            <div class="list-group-item active">
                <h4 class="list-group-item-heading active">Basic Scenarios
                {% ifequal profile.role 'in' %}
                    <a href="{% url 'create_scenario' '1' %}" class="plus" title="Create a new basic scenario"><span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a></h4>
                {% endifequal %}
            </div>

            {% if basic_scenarios %}
                {% for basic_scenario in basic_scenarios %}
                    <a href="{% url 'game' basic_scenario.id %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ basic_scenario.scenario.title }}</h4>
                        <p class="list-group-item-text">Some description for scenario</p>
                    </a>
                {% endfor %}
                {% else %}
                    <p class="small-text mt10 ml10">No scenarios added to the system.</p>
            {% endif %}

        </div>

        <div class="list-group ml10">
            <div class="list-group-item active">
                <h4 class="list-group-item-heading active">Advance Scenarios
                {% ifequal profile.role 'in' %}
                    <a href="{% url 'create_scenario' '2' %}" class="plus" title="Create a new complex scenario"><span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a></h4>
                {% endifequal %}
            </div>

            {% if complex_scenarios %}
                {% for complex_scenario in complex_scenarios %}
                    <a href="{% url 'game' complex_scenario.id %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ complex_scenario.scenario.title }}</h4>
                        <p class="list-group-item-text">Some description for scenario</p>
                    </a>
                {% endfor %}
                {% else %}
                    <p class="small-text mt10 ml10">No scenarios added to the system.</p>
            {% endif %}

        </div>
    </div>
{% endblock %}