{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}
{{ scenario.title }}
{% endblock %}

{% block extra_head %}
    <link href="{% static 'css/svg-pie-timer.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="row">
        <div id="spinner" style="padding-top:700px;"></div>
        <div id="game" style="display: None;">
            <div class="col-sm-12">
                <h1 class="pageHeading">{{ scenario.title }}</h1>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-8">
                {% thumbnail scenario.background "800x600" crop="center" as image %}
                    <a href="javascript:void(0)" class="img-responsive background-image" style="background-image: url('{{ image.url }}'); width: {{ image.width }}; height: {{ image.height }}">
                        <img id="character-img" class="img-responsive foreground-image" src="{{ normal_character.image.url }}" alt="">
                    </a>
                {% endthumbnail %}
            </div>

            <div class="col-xs-4" id="info" style="overflow-y: scroll; max-height: 580px;">
                <h2 style="margin-top:0px;">Patient Information</h2>

                <label class="control-label">Name:</label>
                <p class="small-text">{{ normal_character.name }}</p>

                <label class="control-label">Gender:</label>
                <p class="small-text">{{ normal_character.get_gender_display }}</p>

                <label class="control-label">Marital Status:</label>
                <p class="small-text">{{ normal_character.get_marital_status_display }}</p>

                <label class="control-label">Role of Player:</label>
                <p class="small-text">{{ scenario.role }}</p>

                <label class="control-label">Context:</label>
                <p class="small-text">{{ script.context }}</p>

                <label class="control-label">Scene:</label>
                <p class="small-text">{{ script.scene }}</p>
            </div>

            <div class="col-xs-4" id="dialogues" style="display: None;">
                {% csrf_token %}
                <div id="conversation">
                    <h2 style="margin-top:0px;">Characters Console</h2>
                    <table class="table table-striped">
                        <tr>
                            <td style="height: 100px;"><strong>Character: </strong>
                                <div id="vc-dialogue">{{ parent_dialogue.utterance }}</div>
                            </td>
                        </tr>
                    </table>

                    <h2>Choose a Dialogue</h2>
                    <table class="table table-hover" id="gp-dialogue">
                        {% for dialogue in game_player %}
                            <tr>
                                <td class="option" id="{{ dialogue.id }}" style="height: 110px;"><a href="javascript:void(0)"><strong>Game Player: </strong></a>{{ dialogue.utterance }}</td>
                            </tr>
                        {% endfor %}
                    </table></div>
            </div>

            <div class="clearfix"></div>

            <div class="col-xs-2">
                <svg width="150" height="150" viewbox="0 0 250 250" style="margin-top:12px; position: absolute; z-index: -1;">
                    <path id="border" transform="translate(125, 125)"/>
                    <path id="loader" transform="translate(125, 125) scale(.84)"/>
                </svg>
                <div id="counter" class="timer"></div><div class="clocklabel">Seconds</div>
            </div>

            <div class="col-xs-6">
                <table class="table table-condensed table-striped comment-box">
                    <thead><tr><th>Comment Box</th></tr></thead>
                    <tr><td height="95"><div id="help">I will be assisting you through out your game play.</div></td></tr>
                </table>
            </div>

            <div class="col-xs-4" style="margin-top:40px;">
                <button type="button" class="btn btn-lg btn-block" id="continue">Start Game</button>
            </div>
        </div>
        <div class="progress col-xs-7 col-xs-offset-2" id="finish-screen" style="display: None; margin-top:250px;">
            <div class="progress-bar" id="progressBar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                10%
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_body %}
<script src="{% static 'js/jquery.playSound.js' %} " type="text/javascript"></script>
<script src="{% static 'js/spin.min.js' %} " type="text/javascript"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        var opts = {
          lines: 13 // The number of lines to draw
        , length: 28 // The length of each line
        , width: 11 // The line thickness
        , radius: 30 // The radius of the inner circle
        , scale: 1 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#606060' // #rgb or #rrggbb or array of colors
        , opacity: 0.25 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: -1 // 1: clockwise, -1: counterclockwise
        , speed: 1.2 // Rounds per second
        , trail: 60 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '50%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
        }
        var target = document.getElementById('spinner');
        var spinner = new Spinner(opts).spin(target);
        setTimeout(function(){
            spinner.stop();
            $('#spinner').css('padding-top', 0);
            $('#game').show();
        }, 1000);
	});
</script>

<script type="text/javascript" charset="utf-8">
    var loader = document.getElementById('loader')
  , border = document.getElementById('border')
  , a = 0
  , b = Math.PI
  , t = 800;

    (function draw() {
      a++;
      if(a == 360){return 0;}
      a %= 360;
      var r = ( a * b / 180 )
        , x = Math.sin( r ) * 125
        , y = Math.cos( r ) * - 125
        , mid = ( a > 180 ) ? 1 : 0
        , anim = 'M 0 0 v -125 A 125 125 1 '
               + mid + ' 1 '
               +  x  + ' '
               +  y  + ' z';
      //[x,y].forEach(function( d ){
      //  d = Math.round( d * 1e3 ) / 1e3;
      //});

      loader.setAttribute( 'd', anim );
      border.setAttribute( 'd', anim );

      setTimeout(draw, t); // Redraw
    })();

    function RecurringTimer(callback, delay) {
        var timerId, start, remaining = delay;

        this.pause = function() {
            window.clearTimeout(timerId);
            remaining -= new Date() - start;
        };

        var resume = function() {
            start = new Date();
            timerId = window.setTimeout(function() {
                remaining = delay;
                resume();
                callback();
            }, remaining);
        };

        this.resume = resume;

        this.resume();
    }

    var timer = new RecurringTimer(function() {
        if (++count < 100){
            document.getElementById("counter").style.marginLeft = "20%";
        }else{document.getElementById("counter").style.marginLeft = "10%";}
        if (count < 10){
                document.getElementById("counter").innerHTML = ("0" + count).slice(-2);
            }else {document.getElementById("counter").innerHTML = count;}
    }, 1000);

    var count = 0;
</script>

<script type="text/javascript">
	$("#continue").on('click', function(event){
        $( "#info" ).fadeOut(1000, function() {
            $("#continue").hide();
            $("#dialogues").fadeIn(1000, function() {
                $(this).css("display", "inline");
                $(this).css("opacity", 100);
            });
        });
    });
</script>

<script type="text/javascript" charset="utf-8">
    $(document).on('click', '.option', function (event){
        var id = $(this).attr("id");
        var time_lapse = $("#counter").html();
        $.ajax({
            type: "GET",
            url: {% url 'get_dialogues' %},
            data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value, id: id, type: '1', time_lapse: time_lapse},
            dataType: "json",
            success: function (response){
                if (response['status']){
                    $('#vc-dialogue').html(response['vc_dialogue']);
                    $('#help').html(response['help_text']);
                    $('#character-img').attr('src', response['image']);
                    var s = '';
                    for (var i = 0; i < response['gp_dialogues'].length; i++){
                        s = s + "<tr><td class=\"option\" id=\"" + response['gp_dialogues'][i]['id'] + "\" style=\"height: 110px;\"><a href=\"javascript:void(0)\"><strong>Game Player: </strong></a>" + response['gp_dialogues'][i]['utterance'] + "</td></tr>";
                    }

                    $('#gp-dialogue').fadeOut("slow", function(){
                        $('#gp-dialogue').html(s);
                        $('#gp-dialogue').fadeIn("slow");
                    });
                }else {
                    $('#game').fadeOut("slow", function(){
                        $('#finish-screen').fadeIn();
                    });
                    setTimeout(function(){
                        $('#progressBar').css('width', '15%');
                        $('#progressBar').html('15%');
                    }, 1000);
                    setTimeout(function(){
                        $('#progressBar').css('width', '25%');
                        $('#progressBar').html('25%');
                    }, 2000);
                    setTimeout(function(){
                        $('#progressBar').css('width', '50%');
                        $('#progressBar').html('50%');
                    }, 4000);
                    setTimeout(function(){
                        $('#progressBar').css('width', '95%');
                        $('#progressBar').html('95%');
                    }, 6000);
                    setTimeout(function(){
                        window.location.href = '/game/debrief/{{ script.id }}';
                    }, 8000);}
            }
        });
    });
</script>
{% endblock %}